@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,700;1,400;1,700&display=swap');

.bg {
    background: plum;
    align-items: center;
    height: 32vh;
    font-family: 'Lato', sans-serif;
}

.triangulo {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    position: absolute;
    margin-top: 18%;
    border-top: 100px solid plum;
}

@media screen and (min-width: 900px) {
    .triangulo { margin-top: 20%; }
}

@media screen and (max-width: 901px) {
    .triangulo { margin-top: 30%; }
}

@media screen and (max-width: 612px) {
    .triangulo { margin-top: 40%; }
}

@media screen and (max-width: 472px) {
    .triangulo { margin-top: 50%; }
}

@media screen and (max-width: 360px) {
    .triangulo { margin-top: 60%; }
}

@media screen and (max-width: 320px) {
    .triangulo { margin-top: 60%; }
    .dato { margin-top: -15% !important;}
    .buscador { margin-top: 5.5%; }
}

#presupuestoTotal {
    font-size: 2rem;
}

.container-general {
    margin-top: 7%;
}

.buscador {
    width: 50%;
    margin-left: 2%;
}

.boton svg {
    width: 2rem;
    height: 2rem;
    margin-top: -15% !important;
}

.contenedor-datos {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

@media screen and (width: 1024px){
    .container-general {
        /**background: salmon;*/
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (min-width: 768px) and (max-width: 991.98px) {
    .container-general {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contenedor-datos {
        margin-top: 2.5%;
    }

    .g {
        width: 40% !important;
        height: 20rem !important;
    }

    /*#grafica { width: 100% !important; }*/
} 

@media (max-width: 767.98px) {
    .container-general {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    input {
        width: 7.9rem !important;
    }

    .a2 {
        margin-top: 8% !important;
    }

    .aux {
        padding: 0;
        margin-left: -25% !important;
        justify-content: center;
        align-items: center;
        width: 18rem !important;
        margin-bottom: 6%;
    }

    .aux p {
        margin: auto;
    }

    .g{
        width: 50% !important;
        height: 15rem !important;
        margin-bottom: -10%;
        margin-top: 5%;
    }

    /*#grafica { width: 100% !important; }*/
}

@media screen and (min-width: 400px) {
    /*.b {
        margin-left: -45%;
        width: 280% !important;
    }*/

    .ingresos-datos h2, .egresos-datos h2 {
        text-align: center;
    }
}


@media screen and (max-width: 360px) {
    input {
        width: 6rem !important;
    }

    .aux {
        margin-left: -45% !important;
        margin-top: 5%;
    }

    .contenedor-datos {
        margin-top: 5%;
    }

    .b {
        margin-left: -20%;
        width: 250% !important;
    }

    .g {
        width: 50% !important;
        height: 15rem !important;
        margin-bottom: -20%;
        margin-top: 10%;
    }

    /*#grafica { width: 100% !important; }*/
}

.b {
    margin-top: 5%;
    background: rgb(221, 160, 221, 0.5);
    width: 50vh;
} 

.b button {
    background: transparent;
    border: none;
}

.btnEliminar:focus {
    color: red;
}

.alertStyle {
    position: absolute;
    top: 0;
    right: 0;
}