/*.general{
    background: rgb(245, 233, 232);
}


.presupuesto_ingreso, .presupuesto_egreso {
    background: rgb(193, 138, 157);
    width: 40%;
    display: flex;
    justify-content: space-around;
    margin: auto;
    padding: 1rem;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 10px;
}

.y {
    margin-left: 20%;
}

.presupuesto_ingreso p , .presupuesto_egreso p {
    margin: auto;
}


.derecha {
    /*background: seagreen;
    display: flex;
    width: 50%;
    justify-content: space-between;
    align-items: center;
}

.presupuesto_ingreso_porcentaje {
    background: rgb(194, 255, 102);
    width: 30%;
}

*/
/************/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,700;1,400;1,700&display=swap');

.bg {
    background: plum;
    /*display: flex;
    justify-content: center;*/
    align-items: center;
    height: 32vh;
    font-family: 'Lato', sans-serif;
}

.triangulo {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    position: absolute;
    margin-top: 18%;
    border-top: 100px solid plum;
}

@media screen and (min-width: 900px) {
    .triangulo { margin-top: 20%; }
}

@media screen and (max-width: 901px) {
    .triangulo { margin-top: 30%; }
}

@media screen and (max-width: 612px) {
    .triangulo { margin-top: 40%; }
}

@media screen and (max-width: 472px) {
    .triangulo { margin-top: 50%; }
}

@media screen and (max-width: 360px) {
    .triangulo { margin-top: 60%; }
}

@media screen and (max-width: 320px) {
    .triangulo { margin-top: 60%; }
    .dato { margin-top: -15% !important;}
    .buscador { margin-top: 5.5%; }
}


/*.d {
    background: rgb(196, 15, 196);
    border-radius: 10px;
    text-align: center;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
}*/

/*.ingresos1, .egresos1 {
    background: rgb(221, 160, 221, 0.5);
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    margin-top: 5%;
}*/

/*.ingresos1 {
    margin-top: 10% !important;
}*/

/*.ingresos1 p, .egresos1 p {
    margin: auto;
    font-family: 'Lato', sans-serif;
}*/

#presupuestoTotal {
    font-size: 2rem;
}

.container-general {
    margin-top: 7%;
    /*background: sandybrown;*/
}

.buscador {
    /*margin-top: 3%;*/
    width: 50%;
    margin-left: 2%;
    /*background-color: aqua;*/
}

.boton svg {
    width: 2rem;
    height: 2rem;
    margin-top: -15% !important;
}

.contenedor-datos {
    width: 50%;
    /*background: rgba(238, 160, 151, 0.5);*/
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

/*@media screen and (max-width: 1250px) {
    body {
        background: rgb(187, 142, 165);
    }

    .contenedor-datos {
        background: salmon;
        flex-direction: column;
    }
}*/

/*.map {
    background: green;
}*/

@media screen and (min-width: 768px) and (max-width: 991.98px) {
    /*body {
        background: seagreen;
    }*/

    .container-general {
        /*background: goldenrod;*/
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contenedor-datos {
        margin-top: 2.5%;
    }
} 

@media (max-width: 767.98px) {
    .container-general {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    input {
        /*background: salmon;*/
        width: 7.9rem !important;
    }

    .a2 {
        margin-top: 8% !important;
    }

    .aux {
        /*background: rgb(137, 202, 165);*/
        padding: 0;
        margin-left: -35% !important;
        justify-content: center;
        align-items: center;
        width: 18rem !important;
        margin-bottom: 6%;
    }

    .aux p {
        margin: auto;
    }
}

@media screen and (max-width: 360px) {
   /* body {
        background: firebrick;
    }*/

    input {
        /*background: salmon;*/
        width: 6rem !important;
    }

    .aux {
        margin-left: -65% !important;
        margin-top: 5%;
    }

    .contenedor-datos {
        margin-top: 5%;
    }
}

#myChart {
    background: yellow;
    width: 15rem !important;
    height: 20% !important;
    margin: auto;
    margin-top: 2%;
}

/*.lista-itemEstilo {
    background: seagreen;
}*/

.b {
    margin-top: 5%;
    background: rgb(221, 160, 221, 0.5);
    /*background: none;
    border: none;*/
    width: 50vh;
} 

.b button {
    background: transparent;
    border: none;
}

.btnEliminar:focus {
    color: red;
}

.g {
    width: 20%;
    height: 20%;
}